

.Card {
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--Header);
    padding-left: 20px;
    padding-right: 40px;
}

.Card.Primeiro {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to left, var(--A),var(--B),var(--C),var(--D)) 1;
}


.Card #Foto {
    height: 100px;
    width: 100px;
    margin-right: 40px;
}

.Card #Colocacao,
.Card #nome {
    margin-right: 40px;
}

.Card #nome {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Card #Clasificacao {
    height: 80px;
    margin-right: 40px;
}